package controller

import (
	"net/http"
	"server/internal/model"
	"server/internal/service"
	"strings"

	"github.com/Alquama00s/serverEngine"
	"github.com/Alquama00s/serverEngine/lib"
	"github.com/Alquama00s/serverEngine/serverUtils"
)

type {{.StructName}}Controller struct {
	service *service.{{.StructName}}Service
	router  *lib.Router
}

func (gc *{{.StructName}}Controller) Controllers() {
	gc.service = service.New{{.StructName}}Service()
	gc.router = serverEngine.Registrar().Router("/api/{{.structName}}")

	serverEngine.Registrar().RegisterRouteAuthorizer(
		lib.NewSimpleRouteAuth().Path(gc.router.PathPrefix).TokenType("Bearer"))

	serverEngine.Registrar().RegisterSimpleReqProcessor(gc.router.PathPrefix, func(req *lib.Request) (*lib.Request, error, *lib.Response) {
		req.Logger.
			Debug().Str("pkg", "controller.{{.StructName}}Controller").
			Msg("Unmarshling middleware")
		_, err := serverUtils.Unmarshal[model.{{.StructName}}](req)
		if err != nil {
			return nil, err, nil
		}
		return req, nil, nil
	})

	gc.router.Path("/").
		Method(http.MethodGet).
		Handeler(func(r *lib.Request) (*lib.Response, error) {
			g, err := gc.service.GetAll{{.StructName}}s(r)
			if err != nil {
				return nil, err
			}
			return &lib.Response{
				Body: g,
			}, nil
		})

	gc.router.Path("/").
		Method(http.MethodPost).
		Handeler(func(r *lib.Request) (*lib.Response, error) {
			g, err := gc.service.Create(r.Body.(*model.{{.StructName}}), r)
			if err != nil {
				return nil, err
			}
			return &lib.Response{
				Body: g,
			}, nil
		})

	gc.router.Path("/").
		Method(http.MethodPatch).
		Handeler(func(r *lib.Request) (*lib.Response, error) {
			t := r.Body.(*model.{{.StructName}})
			if strings.TrimSpace(t.ID) == "" {
				return nil, lib.NewErrorMessage("ID is required")
			}

			updated{{.StructName}}, err := gc.service.Update(r.Body.(*model.{{.StructName}}), r)
			if err != nil {
				return nil, err
			}
			t, err = gc.service.Get(updated{{.StructName}}.ID, r)
			if err != nil {
				return &lib.Response{
					Body: updated{{.StructName}},
				}, nil
			}
			return &lib.Response{
				Body: t,
			}, nil

		})

		gc.router.Path("/id").
		Method(http.MethodPost).
		Handeler(func(r *lib.Request) (*lib.Response, error) {
			t := r.Body.(*model.{{.StructName}})
			if strings.TrimSpace(t.ID) == "" {
				return nil, lib.NewErrorMessage("ID cant be 0")
			}

			t, err := gc.service.Get(t.ID, r)
			if err != nil {
				return nil, err
			}
			return lib.NewRestResponse().SetBody(t), nil

		})

	gc.CustomControllers()

}
