package constants

const (
	Create{{.StructName}} = "create_{{.structName}}"
	Read{{.StructName}}   = "read_{{.structName}}"
	Update{{.StructName}} = "update_{{.structName}}"
	Delete{{.StructName}} = "delete_{{.structName}}"
)